@viewport {
    width: 600px;
}

html {
    background: #333;
    color: #fff;
    width: 100%;
    font: 24px Lato, Verdana, sans-serif;
    text-align: center;
}

body {
    margin: 1em auto;
    width: 600px;
}

h1 {
    font-size: 1.8em;
    margin: 0;
    margin-bottom: .5em;
}

#grid div {
    display: inline-block;
    width: 20px;
    height: 20px;
}
#grid .dead {
    background: #fff;
}
#grid .alive.age0 {
    background: #EC485B;
}
#grid .alive.age1 {
    background: #FF7863;
}
#grid .alive.age2 {
    background: #FF9F63;
}

button {
    display: inline-block;
    height: 3em;
    width: 50%;
    border: none;
    font: inherit;
    background: #666;
    color: #fff;
    margin-bottom: 1em;
}
button + button {
    border-left: 1px solid #333;
}

#rules {
    margin-bottom: .5em;
}

#rules select {
    display: block;
    height: 2em;
    width: 14em;
    border: none;
    font: inherit;
    background: #666;
    color: #fff;
    margin: 0 auto;
    margin-bottom: .2em;
    text-align: inherit;
}

#rules button {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0;
    margin-bottom: .2em;
}

#rules button.select {
    background: #EC485B;
}

#field button {
    height: 2em;
}

#footer {
    font-size: .8em;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #fff;
}
#footer p {
    margin: 0;
    margin-top: .1em;
}

a {
    color: #fff;
    text-decoration: none;
    background: #444;
}
a:hover {
    background: #666;
}
